@import url("https://fonts.googleapis.com/css2?family=Roboto");
@import "./fontawesome/scss/fontawesome.scss";
@import "./fontawesome/scss/solid.scss";
@import "./fontawesome/scss/brands.scss";
@import "variables";

#root {
  height: 100vh;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  color: $text-color;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}

.small-text {
  font-size: 0.7em;
}

.mt-5 {
  margin-bottom: 5px;
}
.main {
  @media only screen and (min-width: 768px) {
    width: 360px;
  }
  margin: auto;
  padding: 20px;
}
