@import "../../styles/variables";

.payment {
  margin: auto;
  padding: 20px;
  @media only screen and (min-width: 768px) {
    width: 360px;
  }
  .payment-info {
  }
  .payment-price {
    .price {
      font-weight: bold;
      font-size: 2em;
    }
  }
  .credit-card-row {
    .title {
      font-size: 0.7em;
      margin-bottom: 5px;
    }
  }
  hr {
    background: $input-background;
  }

  @mixin btn-pay {
    width: 48%;
    height: 40px;
    display: flex;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .apple-pay {
    @include btn-pay;
    background: #111111;

    i {
      color: white;
      font-size: 2.5em;
    }
  }
  .google-pay {
    @include btn-pay;
    background: #111111;
    img {
      height: 47%;
    }
  }
  .paypal-pay {
    @include btn-pay;
    background: #ccecff;
    img {
      height: 47%;
    }
  }
  .payment-btn-container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 15px 0;
    justify-content: space-between;
  }
  .pay-btn {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    border-radius: 6px;
    font-weight: bold;
    border: none;
  }
}
