@import "../../styles/variables";

.payment {
  margin: auto;
  padding: 20px;
  @media only screen and (min-width: 768px) {
    width: 30%;
  }
  .payment-info {
  }
  .payment-price {
    .price {
      font-weight: bold;
      font-size: 2em;
    }
  }
  .credit-card-row {
    .title {
      font-size: 0.7em;
      margin-bottom: 5px;
    }
  }
  hr {
    background: $input-background;
  }
  .apple-pay {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111111;
    border-radius: 6px;
    i {
      color: white;
      font-size: 2.5em;
    }
  }
}
